@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;700;900&display=swap');

:root{
  --ff-head: 'Playfair Display';
  --ff-para: 'Poppins';
  --dark-clr:#2d2926ff;
  --red-clr:#e94b3cff;
}
html{
  scroll-behavior: smooth;
}
/*overwrite bootstrap*/
.btn-danger{
  background:var(--red-clr)!important;
  border:0;
  outline:0;
}
.text-danger{
  color:var(--red-clr)!important;
}
.bg-danger{
   background:var(--red-clr)!important;
}
h1,h2,h3,h4{
  font-family: var(--ff-head);
}
p, button, a, input, textarea, h5{
  font-family: var(--ff-para);
}
.height{
  min-height:100vh;
}
.smHeight{
  min-height:70vh;
}
nav{
  background:var(--dark-clr)!important;
  padding:5px 50px!important;
}
nav li a{
  color:var(--red-clr) !important;
}
nav li a.active{
  color:#fff!important;
}
body{
  max-width: 100vw;
}
#hero{
  background:linear-gradient(to left, rgba(0,0,0,.7), rgba(0,0,0,1)),url('../images/camera_new.jpg') center/cover fixed;
}
#hero{
  min-height:100vh;
}
#hero .wrapper{
  height:100vh;
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: :hidden;
}
.social-media{
  position: absolute;
  bottom:18%;
  left:10%;
  display: flex;
}
.social-media a{
  margin-left:20px;
  transition: .3s ease;

}
.social-media a:hover{
  transform:translateY(-10px);
  filter:drop-shadow(0px 8px 5px rgba(233,75,80,.5));
}
#hero .wrapper .img{
  align-self:flex-end;
}
#hero .wrapper img{
  width:460px;
}

#hero .text-btn{
  margin-left:50px;
  max-width:500px;
}
#hero .text-btn h1{
  font-size:4rem;
  font-weight:bold;
  color:#fff;
}
#hero .text-btn h1 span{
  color:var(--red-clr);
}
#hero .text-btn p{
  font-size:1rem;
  font-weight:300;
  color:#fff;
}
#hero a{
  text-decoration: none;
}
.btn-color, .btn-outline{
  display:inline-block;
  font-size:1.2rem;
  color:#fff;
  padding:10px 20px;
  margin-top:10px;
  transition: .2s ease;
}
.btn-color{
 background:var(--red-clr);
}
.btn-color:hover{
  color:#fff;
  background:rgb(233,75,80);
}
.btn-outline{
  margin-left:10px;
  border:1px solid var(--red-clr);
}
.btn-outline:hover{
  background:var(--red-clr);
  color:#fff;
}
/*end of hero*/

#about{
  background:#eee;
}
.title-underline{
  height:5px;
  background:var(--red-clr);
  width:100px;
}
/*about*/
#about img{
  height:450px;
}


/*skills*/
#skills img{
  box-shadow: 1px 0px 10px rgba(0,0,0,.5);
}
/*testimonials*/
#testimonials{
  background:#eee;
}

/*footer*/
footer a{
  text-decoration:none;
  color:white;
  font-size:18px;
  font-weight:500;
}
footer a:hover{
  color:black;
  text-decoration: none;
}

/*portfolio*/
#portfolio{
  background:#eee;
  min-height:100vh;
}
.headMargin{
  margin-top:4rem;
  padding: 2rem;
}
#portfolio ul{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#portfolio ul li{
  list-style: none;
  background:var(--red-clr);
  padding:8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor:pointer;
  transition: .3s ease;
}
#portfolio ul li.active{
  background: var(--dark-clr);
  color:#fff;
}
.product{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.itemBox{
  position:relative;
  width:300px;
  height:300px;
  margin:5px;
}
.itemBox img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  filter:grayscale(1) brightness(.5);
  cursor:pointer;
  transition: .3s ease;
}
.itemBox img:hover{
  filter:grayscale(0) brightness(1);
}


@media screen and (max-width:850px){
  #hero .wrapper{
    flex-direction:column;
    justify-content: center;
    padding:30px;
  }
  #hero .wrapper .img{
   display: none;
  }
  #hero .text-btn h1{
    font-size:2.5rem;
  }
  .btn-outline{
    margin-left: 0px;
  }
  #hero .text-btn{
    margin-left:0px;
  }
  .social-media{
    bottom:18%;
    left:50%;
    transform:translateX(-50%);
  }
  .product{
   padding:1rem;
}
  .itemBox{
    width:100%;
}
  .itemBox img{
    filter:grayscale(0) brightness(1);
  }

  #portfolio ul{
  margin-bottom: 10px;
}
#portfolio ul li{
  margin: 2px;
  padding:8px 10px;
 
}
.headMargin{
  padding:1rem;
}
}
@media screen and (max-width:500px){
  nav{
    padding:0px 20px!important;
  }

   .btn-color, .btn-outline{
  font-size:1rem;
  padding:10px 15px;
  }
  .social-media{
  position: absolute;
  bottom:14%;
  left:50%;
  transform:translateX(-50%);
}
#portfolio .container{
  padding:0px!important;
}
  #portfolio ul{
    margin-right:30px;
    margin-bottom: 10px;
}
footer{
  font-size:14px;
}
footer a{
  font-size:15px;
}
}